@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  @apply: antialiased touch-manipulation scroll-smooth text-base;
  text-rendering: optimizeLegibility;
}

html.dark {
  background: #111;
  color: white;
  color-scheme: dark;
}

body {
  @apply max-w-4xl lg:!mx-auto !mx-4 py-3 md:px-14 md:py-10;
}
