---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout
  title="mosaic.luxass.dev"
  description="a streamlined API aggregating all my project data in one place."
>
  <h1 class="mb-8 text-3xl font-semibold">mosaic</h1>

  <article>
    <p>
      Since you are here, you are probably wondering why and what this
      {" "}
      <span class="rounded p-0.5 bg-gray-400/10">mosaic.toml</span>
      {" "}
      file is.
    </p>
    <p>
      It&apos;s just a little file that I use on projects i want to show off on
      <a href="https://luxass.dev">
        <span class="rounded p-0.5 bg-gray-400/10">my personal website</span>
      </a>
    </p>

    <p>
      The file contains some metadata about the project, like the name,
      description, and links to the project&apos;s repository and website.
      <br />
      The file is fully typed using
      <a href="https://json-schema.org/" target="_blank">
        <span class="rounded p-0.5 bg-gray-400/10">JSON Schema</span>
      </a> and the schema can be found
      <a href="https://mosaic.luxass.dev/json-schema.json" target="_blank">
        <span class="rounded p-0.5 bg-gray-400/10">here</span>
      </a>
    </p>
  </article>
</PageLayout>
