---
/* eslint astro/no-set-html-directive: "off" */
import zodToJsonSchema from "zod-to-json-schema";
import { codeToHtml } from "shikiji";
import PageLayout from "../layouts/PageLayout.astro";
import { PROJECTRC_SCHEMA } from "../lib/json-schema";

const jsonSchema = zodToJsonSchema(PROJECTRC_SCHEMA);

const html = await codeToHtml(JSON.stringify(jsonSchema, null, 2), {
  lang: "json",
  theme: "vitesse-dark",
});
---

<PageLayout
  title="projectrc.luxass.dev"
  description="a streamlined API aggregating all my project data in one place."
>
  <h1 class="mb-8 text-3xl font-semibold">.projectrc</h1>

  <article>
    <p>
      Since you are here, you are probably wondering why and what this
      {" "}
      <span class="rounded p-0.5 bg-gray-400/10">.projectrc</span>
      {" "}
      is.
    </p>
    <p>
      It&apos;s just a little file that I use on
      {" "}
      <a href="https://luxass.dev" class="rounded p-0.5 bg-gray-400/10">
        <span>my website</span></a
      >{" "}
      to generate a list of projects that are being showcased
      {" "}
      <a
        class="rounded p-0.5 bg-gray-400/10"
        href="https://luxass.dev/projects"
        aria-label="Link to my projects page">here</a
      >.
    </p>
  </article>

  <div class="my-4">
    <h2 class="my-2 text-xl font-semibold">
      You can see the schema used here.
    </h2>

    <div class="group relative">
      <div set:html={html} />
    </div>
  </div>
</PageLayout>
